@import "tailwindcss";

@theme {
  --background-image-custom-bg: url("/images/Background.png");
}

@utility font-manrope {
  font-family: var(--font-manrope), sans-serif;
}

:root {
  --background: #0b0b0d;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@utility text-balance {
  text-wrap: balance;
}
